# linux-TkG config file

# Linux distribution you are using, options are "Arch", "Ubuntu", "Debian", "Fedora", "Suse", "Gentoo", "Generic".
# It is automatically set to "Arch" when using PKGBUILD.
# If left empty, the script will prompt
_distro="Arch"

# Kernel Version
# Accepts
# - "x.y-latest" to pick latest kernel from the x.y series (e.g. "6.13-latest")
# - git tags, e.g. "v6.0-rc4" or "v5.10.51"
#   - Note: Patches may fail as they may only apply to newer trees.
# If left empty, the script will prompt
_version=""

#### MISC OPTIONS ####

# External config file to use - If the given file exists in path, it will override default config (customization.cfg) - Default is ~/.config/frogminer/linux-tkg.cfg
_EXT_CONFIG_PATH=~/.config/frogminer/linux-tkg.cfg

# [Arch specific] Set to anything else than "true" to limit cleanup operations and keep source and files generated during compilation.
# Default is "true".
_NUKR="true"

# Link to the git mirror to use to get the kernel sources
#  e.g. https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
# possible aliases: "kernel.org", "googlesource.com", "gregkh" and "torvalds"
# leave empty for kernel.org
_git_mirror=""

# Root folder where to checkout the kernel sources (linux-src-git subdir) and build
# Note: - Leave empty to use PKGBUILD's dir
#       - Start with a '/' for an absolute path in which `linux-tkg/linux-src-git/` will be created
#       - This setting can be used to set the work/build folder to a tmpfs folder
#         - Requires >= 32GB ram when building a full kernel, should work with less ram with modprobed-db
_kernel_work_folder=""

# Permanent root folder where to keep the git clone (linux-kernel.git subdir) and fetch new blobs
# Note: - Leave empty to use PKGBUILD's dir
#       - Start with a '/' for an absolute path in which `linux-tkg/linux-kernel.git/` will be created
#       - If your internet is faster than your storage, it may be wise to put this folder
#         in a tmpfs location (although it will reclone after each restart / tmpfs folder cleanup)
_kernel_source_folder=""

# Custom compiler root dirs - Leave empty to use system compilers
# Example: CUSTOM_GCC_PATH="/home/frog/PKGBUILDS/mostlyportable-gcc/gcc-mostlyportable-9.2.0"
CUSTOM_GCC_PATH=""

# Custom LLVM compiler root dirs - Leave empty to use system llvm compiler
# Example: CUSTOM_LLVM_PATH="/home/frog/PKGBUILDS/mostlyportable-llvm/llvm-mostlyportable-11.0.0"
CUSTOM_LLVM_PATH=""

# Set to true to bypass makepkg.conf and use all available threads for compilation. False will respect your makepkg.conf options.
_force_all_threads="true"

# Set to true to prevent ccache from being used and set CONFIG_GCC_PLUGINS=y (which needs to be disabled for ccache to work properly)
_noccache="false"

# Build only a subset of the default kernel modules list to speedup compile time and lower needed space to build kernel
# Important: - The kernel may fail to boot or behave weirdly with this option active. If it is the case, disable it and rebuild
#              - If it is the case and know which modules were missing, please open a bug report so we can add them to the "diet" db
# Notes:
# - This option cannot be used with _modprobeddb="true"
_kernel_on_diet="false"

# Set to true to use modprobed db to clean config from unneeded modules. Speeds up compilation considerably.
# Requires root - https://wiki.archlinux.org/index.php/Modprobed-db
# Using this option can trigger user prompts if the config doesn't go smoothly.
# Notes:
# - Make sure to have a well populated db
#   - Otherwise use the '_kernel_on_diet' option instead
_modprobeddb="false"

# modprobed-db database file location
_modprobeddb_db_path=~/.config/modprobed.db

# Set to "1" to call make menuconfig, "2" to call make nconfig, "3" to call make xconfig, before building the kernel. Set to false to disable and skip the prompt.
_menunconfig="0"

# Set to true to generate a kernel config fragment from your changes in menuconfig/nconfig. Set to false to disable and skip the prompt.
_diffconfig=""

# Set to the file name where the generated config fragment should be written to. Only used if _diffconfig is active.
_diffconfig_name=""

#### KERNEL OPTIONS ####

# Name of the default config file to use for the kernel
# Default (empty)  : "config.x86_64" from the linux-tkg-config/5.y folder.
# "running-kernel" : Picks the .config file from the currently running kernel.
#                    It is recommended to be running an official kernel before running this script, to pick off a correct .config file
# "config_hardened.x86_64" : config file for a hardened kernel, available for kernel version "5.15", "5.13", "5.11", "5.10", "5.7", "5.4".
#                            To get a complete hardened setup, you have to use "cfs" as _cpusched.
# User provided value : custom user provided file, the given path should be relative to the PKGBUILD file. This enables for example to use a user stripped down .config file.
#         If the .config file isn't up to date with the chosen kernel version, any extra CONFIG_XXXX is set to its default value.
# Note: the script copies the resulting .config file as "kernelconfig.new" next to the PKGBUILD as a convenience for an eventual re-use. It gets overwritten at each run.
#       One can use "kernelconfig.new" here to always use the latest edited .config file. modprobed-db needs to be used only once for its changes to be picked up.
_configfile=""

# Determine whether to call "olddefconfig" (default) or "oldconfig" for manual config updating interaction.
_config_updating="olddefconfig"

# Aggressively disable kernel debugging features
# Note:
# - if you encounter issues, test with this setting disabled first, then open a bug report on what necessary feature was disabled
# - search '_debugdisable' in linux-tkg-config/prepare for the list of disabled CONFIG entries
_debugdisable="true"

# Strip the kernel and its modules from debug symbols
_STRIP="true"

# LEAVE AN EMPTY VALUE TO BE PROMPTED ABOUT FOLLOWING OPTIONS AT BUILD TIME

# CPU optimization level - x86-64 levels (matches XanMod approach)
# Options:
# "x86-64"       - LEGACY (circa 2003) - All x86-64 CPUs (K8, Pentium 4, Core 2, etc.)
# "x86-64-v2"    - circa 2009 - Nehalem, Bobcat, Bulldozer, Sandybridge, Ivybridge, etc.
# "x86-64-v3"    - circa 2015 - Haswell, Broadwell, Skylake, Zen, Zen+, Zen 2, Zen 3, Coffee Lake, etc.
# "x86-64-v4"    - circa 2020 - AVX-512 (Skylake X, Ice Lake, Zen 4+, Sapphire Rapids, etc.)
# Leave empty to be prompted at build time
_processor_opt=""

# CPU scheduler - Options are "pds", "bmq", "bore", "cfs" (linux 6.5-) or "eevdf" (kernel's default, 6.6+)
# "upds" (TkG's Undead PDS) and "muqss" are also available on legacy kernel revisions
# If unsure, select "eevdf" (default)
_cpusched=""

# Compiler to use - Options are "gcc" or "llvm".
# For advanced users.
_compiler="llvm"

# [Generic and Gentoo specific] Replace `libunwind` with `llvm-libunwind`.
# ! This is currently experimental.
# ! It can only work with the `llvm-libunwind` `USE` flag in `llvm-core/clang-common` for Gentoo.
# Set to "true" to enable.
_libunwind_replace=""

# Use the LLVM Integrated Assembler for a complete LLVM toolchain built kernel. Default is "1" when using LLVM.
# Set to "0" to disable if desired, otherwise stick to the default behavior.
_llvm_ias="1"

# Clang LTO mode, only available with the "llvm" compiler - options are "no", "full" or "thin".
# ! This is currently experimental and might result in an unbootable kernel - Not recommended !
# "no: do not enable LTO"
# "full: uses 1 thread for Linking, slow and uses more memory, theoretically with the highest performance gains."
# "thin: uses multiple threads, faster and uses less memory, may have a lower runtime performance than Full."
_lto_mode="thin"

# Apply PREEMPT_RT patchset to the kernel.
# ! Only CFS CPU scheduler is compatible with this patchset !
# Set to "1" to enable.
_preempt_rt=""

# Forcibly apply the PREEMPT_RT patchset to the kernel, even when upstream does not officially support the kernel subversion.
# ! This will still not apply when the patch itself or linux-tkg (see _version) do not support the kernel major version - Not recommended !
# Set to "1" to enable.
_preempt_rt_force=""

# CPU sched_yield_type - Choose what sort of yield sched_yield will perform
# For PDS and MuQSS: 0: No yield. (Recommended option for gaming on PDS and MuQSS)
#                    1: Yield only to better priority/deadline tasks. (Default - can be unstable with PDS on some platforms)
#                    2: Expire timeslice and recalculate deadline. (Usually the slowest option for PDS and MuQSS, not recommended)
# For BMQ:           0: No yield.
#                    1: Deboost and requeue task. (Default)
#                    2: Set rq skip task.
_sched_yield_type="0"

# [MuQSS, PrjC, PDS, BMQ only, for kernel <= 6.6]
# Round Robin interval is the longest duration two tasks with the same nice level will be delayed for.
# When CPU time is requested by a task, it receives a time slice equal to the rr_interval in addition to a virtual deadline.
# When using yield_type 2, a low value can help offset the disadvantages of rescheduling a process that has yielded.
# MuQSS default: 6ms"
# PDS default: 4ms"
# BMQ default: 2ms"
# Set to "1" for 2ms, "2" for 4ms, "3" for 6ms, "4" for 8ms, or "default" to keep the chosen scheduler defaults.
_rr_interval=""

# Set to "true" to disable FTRACE, lowering overhead but limiting debugging and analyzing of kernel functions - Kernel default is "false"
# Notes:
# - May break many things, as it disables many child config options (FUNCTION_TRACER, GRAPH_TRACER, FBROBE, STACK TRACER...)
# - Prevents sched-ext LAVD from properly working, see https://github.com/sched-ext/scx/blob/main/kernel.config#L19
_ftracedisable="false"

# Set to "true" to disable NUMA, lowering overhead, but breaking CUDA/NvEnc on Nvidia equipped systems - Kernel default is "false"
_numadisable="false"

# Set to "true" to enable misc additions - May contain temporary fixes pending upstream or changes that can break on non-Arch - Kernel default is "true"
_misc_adds="true"

# Set to "0" for periodic ticks, "1" to use CattaRappa mode (enabling full tickless) and "2" for tickless idle only.
# Full tickless can give higher performances in case you use isolation of CPUs for tasks
# and it works only when using the nohz_full kernel parameter, otherwise behaves like idle.
# Just tickless idle only can work with or without nohz_full.
_tickrate=""

# Set to "true" to disable MQ-Deadline I/O scheduler and use BFQ as the default I/O scheduler - Kernel default is "false"
_sched_ext=""

# Set to "true" to enable Linux Random Number Generator to use the RDRAND instruction - Kernel default is "false"
_use_rng=""

# Set to "true" to build the kernel with KASAN (Kernel Address Sanitizer) for debugging - Kernel default is "false"
_kasan=""

# Set to "true" to build the kernel with UBSAN (Undefined Behavior Sanitizer) for debugging - Kernel default is "false"
_ubsan=""

# Set to "true" to enable DKMS (Dynamic Kernel Module Support) - Kernel default is "false"
_dkms=""

# Set to "true" to enable CONFIG_LOCALVERSION_AUTO - Kernel default is "false"
_localversion_auto=""
